{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SMS PROJECT</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/facultystyle.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <style>
.navbar {
    background-color: #3498db; /* Blue */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
h5 {
    text-align: right;
    color: #3498db; /* Blue */
    margin: 0;
    padding: 20px;
    font-size: 1.3em;
}
</style>
  </head>
  <body bgcolor="lightgrey">
<!--    <h1 align="center">Student Academic Management System</h1>-->
    <br>
    <nav class="navbar">

      <ul class="nav-links">
        <div class="menu">
          <p style="bgcolor: lightgrey">
            <a href="{% url 'facultyhome' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'facultychangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'facultycourses' %}">My Courses</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'facultyaddcontent' %}">Add Content</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'facultyviewcontent' %}">ViewContent</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'facultylogin' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
        </div>
      </ul>
    </nav>
    <h5 align="right" style="color:#3498db">Welcome {{fid}}</h5>
    <br />
    {% block 'body' %}
    <center>
    <div class="card">
      {% if faculty.gender == 'MALE' %}
        <img src="{% static 'images/malefacultyprofile.webp' %}" alt="Male" style="width:100%">
      {% endif %}
      {% if faculty.gender == 'FEMALE' %}
        <img src="{% static 'images/femalefacultyprofile.jpg' %}" alt="Female" style="width:100%">
      {% endif %}
        <div class="container">
          <br>
          <h4><b>{{faculty.facultyid}}-{{faculty.fullname}}</b></h4>
          <p>{{faculty.department}}</p>
          <p>{{faculty.qualification}}</p>
          <p>{{faculty.email}}</p>
          <p>{{faculty.contact}}</p>
        </div>
    </div>
    </center>
    {% endblock %}
  </body>
</html>
